# Notebook to automatically fetch data from Polish official website

In [25]:
from scrapy.selector import Selector
import requests
import json
import pandas as pd
from io import StringIO

In [21]:
url = 'https://www.gov.pl/web/koronawirus/wykaz-zarazen-koronawirusem-sars-cov-2'
body = requests.get(url).text

Data is stored in one of hidden fields in html. Format is json with embedded CSV

In [28]:
data_raw = Selector(text=body).css("#registerData::text").get()

In [29]:
data = json.loads(data_raw)['data']

In [36]:
dcsv = StringIO(data)
df = pd.read_csv(dcsv, sep=";")
df.head()

    Województwo  Powiat/Miasto  Liczba  Liczba zgonów     Id
0   Cała Polska        Łącznie     177            4.0  t0000
1       łódzkie   bełchatowski       1            NaN  t1001
2       śląskie      będziński       2            NaN  t2401
3     lubelskie    biłgorajski       1            NaN  t0602
4  dolnośląskie  bolesławiecki       1            NaN  t0201

Each row represents one region (Województwo) of Poland. First row with id `t0000` represents total for whole country